<img
  thy-image
  thySrc="https://img0.baidu.com/it/u=3322048747,2274345590&fm=26&fmt=auto"
  thyFallback1="http://www.www.www/error.png"
  alt=""
  width="800px"
/>

<!-- hd img url -->
<!-- https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-11-09%2F5a03b6daef103.jpg%3Fdown&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1639651182&t=913bb346d7a865c2b34a1c2eb0215218 -->

<!-- error img url -->
<!-- https://tenfei02.cfp.cn/creative/vcg/800/new/VCG211135615222.jpg -->
